<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      </section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/climb_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Climb feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Chalkbag</h1>

    <h2>
      A platform for climbers to track their progress.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>


